.badge {
  --color: #9333ea;
  --background-color: #f5f3ff;
  display: flex;
  gap: 5px;
  align-items: center;
  width: fit-content;
  padding: 4px 12px;
  font-family: var(--font-dm-sans);
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--color);
  list-style: 1;
  background-color: var(--background-color);

  border: 1px solid var(--color);
  border-radius: 50px;
}

.status:first-letter {
  text-transform: uppercase;
}

.badge[data-status="pending"] {
  --color: #9333ea;
  --border-color: #f5f3ff;
}

.badge[data-status="success"] {
  --color: #16a34a;
  --background-color: #dcfce7;
}

.badge[data-status="error"] {
  --color: #ef4444;
  --background-color: #fee2e2;
}

.badge[data-status="warning"] {
  --color: #f59e0b;
  --background-color: #fef3c7;
}

.badge[data-status="info"] {
  --color: #0ea5e9;
  --background-color: #cffafe;
}
