a {
    color: blue;
}

.useful-links {
    margin-top: 40px;
    
    h4 {
        font-weight: 600;
    }
    
    a {
        font-size: 0.8rem;
        text-decoration: underline;
        font-family: "Merriweather", serif;
    }
}
