/* biome-ignore-all lint/correctness/noUnknownPseudoElement: experimental */
/* biome-ignore-all lint/correctness/noUnknownTypeSelector: experimental */
.custom-select-frameworks {
  --radius: 10px;
  padding: 7px 15px;
  appearance: base-select;
  background: none;

  &:focus-visible {
    outline-color: var(--color-emerald-500);
    outline-offset: 5px;
  }

  /* ⬜ Picker */
  &::picker(select) {
    padding: 0;
    margin-block: 5px;
    appearance: base-select;
    border-radius: var(--radius);

    @media (forced-colors: none) {
      border: 2px solid var(--color-gray-50);
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
    }
  }

  /* 💬 Selected content */

  /* ⬇️ Customize the picker icon */
  &::picker-icon {
    display: none;
  }

  /* 📝 Option */
  & option {
    display: flex;
    column-gap: 10px;
    align-items: center;
    padding-block: 10px;
    padding-inline: 10px;
    font-size: 1rem;

    cursor: pointer;
    border: 1.5px solid transparent;

    &::checkmark {
      font-weight: var(--font-weight-8);
    }

    &:focus-visible {
      outline: none;
      border-color: var(--color-emerald-500);
      border-radius: 10px;

      &[value="vue"] {
        border-color: var(--color-emerald-500);
      }
      &[value="react"] {
        border-color: var(--color-cyan-500);
      }
      &[value="angular"] {
        border-color: var(--color-purple-500);
      }
    }

    &:is(:focus, :hover) {
      color: inherit;
      background: oklch(from var(--link) l c h / 25%);
    }

    &:is(:checked) {
      font-weight: bold;
    }
  }

  /* ✅ Checkmark */
  /*option {
    }

    option:checked {
    }

    option::checkmark {
    }*/
}
