.custom-select-frameworks {
    appearance: base-select;
    background: none;
    padding: 7px 15px;

    /* Customize the picker */
    &::picker(select) {
        appearance: base-select;
    }

    &::picker(select) {
        transition:
            opacity 0.2s ease,
            transform 0.2s var(--ease-out-3),
            display 0.2s allow-discrete,
            overlay 0.2s allow-discrete;
    }

    /* Customize the picker icon */
    &::picker-icon {
        display: none;
    }

    /* set the off stage styles */
    &:not(:open)::picker(select) {
        opacity: 0;
        transform: scale(0.95);
    }

    /* set the on stage styles */
    &:open::picker(select) {
        opacity: 1;
        transform: scale(1);
    }
}
